.call-to-action
  width: 100%
  background: #c4c4c4
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  white-space: pre-line
  overflow: hidden
  z-index: 1
  h1
    font-family: 'Baskerville', 'Libre Baskerville', sans-serif
    text-align: center
    color: white
    width: 75%
    padding-top: 80px
    z-index: 10
    font-weight: 600
    @media all and (max-width: 700px)
      font-size: 2.2em
