.featured-by
  width: 100%
  background: #f2f6f7
  padding: 50px 0
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  @media all and (max-width: 700px)
    padding: 0
  h3
    color: #372F36
    text-align: center
    @media all and (max-width: 700px)
      font-size: 1.1em
      padding: 25px 0
      width: 75%
