.news
  padding-top: 130px
  background: white
  @media all and (max-width: 1200px)
    padding-top: 150vh
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  .news-item
    width: 100%
    padding: 30px
    box-sizing: border-box
    p
    h1
    h2
      text-align: left
    .paragraph
      width: 50%
