@mixin transition($prop $time $easing)
  -webkit-transition: $prop $time $easing
  -moz-transition: $prop $time $easing
  -ms-transition: $prop $time $easing
  -o-transition: $prop $time $easing
  transition: $prop $time $easing
