@import './variables.styl'
@import './helpers/transition.styl'
@import './helpers/user_select.styl'
@import './helpers/user_drag.styl'
@import './Animations.styl'

@font-face {
  font-family: 'Gotham';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Gotham.eot');
  src: local('Gotham'),
    url('../fonts/gotham.woff2') format('woff2'),
    url('../fonts/gotham.otf') format('otf'),
    url('../fonts/Gotham.ttf') format('ttf'),
    url('../fonts/gotham.woff') format('woff')
}


@font-face {
  font-family: 'Ano';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AnoRegular-Regular.eot');
  src: local('Ano'),
    url('../fonts/AnoRegular-Regular.woff2') format('woff2'),
    url('../fonts/AnoRegular-Regular.otf') format('otf'),
    url('../fonts/AnoRegular-Regular.ttf') format('ttf'),
    url('../fonts/AnoRegular-Regular.woff') format('woff')
}

@font-face {
  font-family: 'Avenir';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Avenir.eot');
  src: local('Avenir'),
    url('../fonts/avenir.woff2') format('woff2'),
    url('../fonts/Avenir.otf') format('otf'),
    url('../fonts/avenir.ttf') format('ttf'),
    url('../fonts/avenir.woff') format('woff')
}

@font-face {
  font-family: 'Avenir-Heavy';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/avenir-heavy.eot');
  src: local('Avenir-Heavy'),
    url('../fonts/Avenir-Heavy.woff2') format('woff2'),
    url('../fonts/avenir-heavy.otf') format('otf'),
    url('../fonts/Avenir-Heavy.ttf') format('ttf'),
    url('../fonts/Avenir-Heavy.woff') format('woff')
}

html
  overflow-x: hidden
  width: 100%
  position: absolute


#wistia_chrome_12 #wistia_video_wrapper_43 .wistia_vulcan_elem.wistia_is_background_visible
  background: #f2f2f2

body
  margin: 0
  padding: 0
  overflow-x: hidden
  position: absolute
  -webkit-tap-highlight-color: rgba(0 0 0 0)
  video
    height: 100vh
    object-fit: cover
    object-position: 59% 0%

  #root
    width: 100vw

  .App
    width: 100%
    overflow-x: hidden
    background: section-color
    .layout
      width: 100%

  .left-border
  .right-border
    position: fixed
    top: 0
    height: 100vh
    width: 5vw
    background: section-color
    z-index: 2

    @media all and (max-width: 700px)
      width: 0

  .left-border
    left: 0
  .right-border
    right: 0

  h1
  h2
  h3
  h4
  h5
  h6
  p
  li
  ul
  button
  b
  label
    font-family: 'Avenir', sans-serif;
    font-weight: 100
    margin: 0
    padding: 0
    user-select: none
    color: #555056

  li
    list-style: none
    font-size: 1.5em
    color: #555056


  a
    color: #9090cc
    text-decoration: none

  h1
    font-size: 3.8em
    color: #50454F
    font-weight: 700


  h2
    font-family: 'Oswald', sans-serif;
    font-size: 3.3em
    font-weight: 900
    color: #504550
    text-align: center
    line-height: 1.3em
    @media all and (max-width: 700px)
      font-size: 2em

  h3
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em
    color: #6A5B69
    font-weight: 600
    @media all and (max-width: 700px)
      font-size: 1.4em

  h4
    font-size: 1.77em
    color: #9d5794
    font-weight: 400
    @media all and (max-width: 700px)
      width: 90%
      font-size: 1.5em

  p
  span
    font-family: 'Helvetica'
    font-size: 1.4em
    color: #837E83
    @media all and (max-width: 700px)
      font-size: 1.1em

  img
    width: 100%
