.input-field-container
  display flex
  justify-content flex-start
  align-items center
  padding 0.4rem 0
  width 25rem

  > *
    padding 0.5rem
    height 2rem

  label
    text-align center
    width 24%
    background #f2f2f2
    border-right none
    color #333333
    border-left 1px solid
    border-bottom 1px solid
    border-top 1px solid
    border-color #cccccc
    display flex
    justify-content center
    align-items center
    font-size 0.77rem

  .input-field
    flex 1
    -webkit-appearance none
    border-radius 0
    background-color #FFFFFF
    border-style solid
    border-width 1px
    border-color #cccccc
    box-shadow inset 0 1px 2px rgba(0, 0, 0, 0.1)
    color rgba(0, 0, 0, 0.75)
    display block
    font-size 0.85rem
    transition border-color 0.15s linear, background 0.15s linear
    outline none

  .svg-inline--fa
    width 10%

  .input-field::placeholder
    color grey