.button
  background-color #ec6602
  border-radius 3px
  display flex
  margin 0.5rem auto
  margin-top 3rem
  justify-content center
  align-items center
  cursor pointer

  &:hover
  &:active
    background-color #bd5202

  label
    color white
    font-size 0.9rem
    padding 0.9rem 1.5rem