
@font-face
  font-family Futura
  src url('/static/futura_book_bt.ttf') format('ttf')

@font-face
  font-family 'Galano'
  src url('/static/Galano\ Grotesque.otf') format('otf')

h1
h2
h3
p
li
  font-family Galano
  font-weight 100
  color #20202d

.title
  padding 10rem 0

  @media all and (max-width: 64rem)
    padding 8rem 2rem

.arrow
  fill white
  stroke black

.banner-image
  max-width 14rem
  padding 1rem 4rem 3rem
  margin 0rem 0rem 3rem
  margin-top 9rem
  animation floating 1.5s ease-in infinite

.banner-title
  width 100%
  height 300px
  font 2rem Futura, sans-serif

  text
    fill url('#banner-pattern')

@keyframes floating
  0%
    box-shadow 0 5px 15px 0px rgba(0, 0, 0, 0.6)
    transform translate3d(0, 0, 0)

  50%
    box-shadow 0 25px 15px 0px rgba(0, 0, 0, 0.2)
    transform translate3d(0, 20px, 0)

  100%
    box-shadow 0 5px 15px 0px rgba(0, 0, 0, 0.6)
    transform translate3d(0, 0, 0)