.info
  width: 100%
  background: white
  padding-top: 100px
  padding: 50px
  box-sizing: border-box
  display: flex
  justify-content: center
  flex-direction: column
  align-items: center
  white-space: pre-line
  @media all and (max-width: 700px)
    padding: 0
  p
    text-align: left;
    padding: 10px 0;
    @media all and (max-width: 700px)
      padding: 10px 56px
  h2
    width: 75%
    padding-top: 50px
    padding-bottom: 20px
  h3
    text-align: center
    color: #504550
    width: 100%
    padding-top: 40px
    padding-bottom:60px

  h4
    text-align: center
    width: 100%
    padding: 40px 0
    @media all and (max-width: 700px)
      padding: 20px 0
  h4.subtitle
    width: 82%
  .conclusion
    width: 49%
    @media all and (max-width: 700px)
      padding: 10px 56px
      width: 100%
    p
    text-align: center;
    line-height: 1.5em;
    padding: 10px 0;
    @media all and (max-width: 700px)
      text-align: left
      white-space: normal;
  .reasons
    padding-bottom: 30px
  .first-row-topics
    width: 100%
    margin-top: 40px
    display: grid
    column-gap: 1em
    grid-row-gap: 100px
    grid-template-columns: repeat(3, 3fr )
    @media all and (max-width: 1200px)
      grid-template-columns: 50% 50%
    @media all and (max-width: 700px)
      grid-row-gap: 70px
      grid-template-columns: 100%
    grid-template-rows: auto
    justify-items: center
    justify-content: center
    align-content: center
  .second-row-topics
    padding-top: 90px
    margin-top: 100px
    @media all and (max-width: 700px)
      padding: 0
      margin: 0
    display: grid
    column-gap: 1em
    grid-row-gap: 100px
    grid-template-columns: 33% 33%
    @media all and (max-width: 1200px)
      grid-template-columns: repeat(2, 3fr )
    @media all and (max-width: 700px)
      grid-row-gap: 70px
      grid-template-columns: repeat(1, 1fr )
    grid-template-rows: auto
    justify-items: center
    justify-content: center
    align-content: center
    .topic
      width: 75%
      @media all and (max-width: 700px)
        width: 100%
        padding: 0 40px
        box-sizing: border-box
        margin-bottom: 40px
  .topic
    width: 69%
    @media all and (max-width: 700px)
      width: 100%
      padding: 0 40px
      box-sizing: border-box
      margin-bottom: 40px
    .facts
      p
        @media all and (max-width: 700px)
          font-size: 1.1em
          padding: 0
          padding-top: 20px
  .epilogue
    margin-top: 100px
    text-align: center
    @media all and (max-width: 700px)
      font-size: 1.6em
      margin: 0
