$bg-color: white

.parallax
  video
    display: none
    filter: blur(8px) brightness(40%) contrast(53%) saturate(160%)
    @media all and (max-width: 1200px)
      display: block
  user-select(none)
  user-drag(none)
