button-color = #fff
button-hover-color = #2f2e31
button-border-color = #352626
theme-color = #79737d

.email-opt-in
  animation: fadein 1s
  a
    width: 100%
  width: 100%
  height: 100vh
  position: absolute
  z-index: 12
  background: rgba(82, 72, 72, 0.5)
  display: flex
  justify-content: space-around
  align-items: center
  flex-direction: column
  .registration-block
    animation: slidein 0.5s ease-in-out
    background: white
    width: 75%
    padding: 50px 50px
    box-sizing: border-box
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
    border-radius: 0
    @media all and (max-width: 700px)
      width: 100%
      padding: 20px 0
      border-radius: 0
    h2
      padding-bottom: 50px
      text-align: center
      cursor: default
      @media all and (max-width: 700px)
        padding: 0
        padding-bottom: 10px
        font-size: 2.4em
        width: 75%
    h3
      font-weight: 100
      text-align: center
      color: #6A5B68
      padding-bottom: 25px
      cursor: default
      @media all and (max-width: 700px)
        padding: 0 10px
        font-size: 1.7em
        width: 60%
    form
      width: 90%
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      input
        width: 100%;
        -webkit-appearance: none;
        border: none;
        outline: none;
        background: transparent;
        font-size: 2.5em;
        border-bottom: 0.5pt solid theme-color
        -webkit-text-fill-color: theme-color
        caret-color: theme-color
        padding-bottom: 10px;
        text-transform: lowercase;
        margin: 10px 0
        @media all and (max-width: 700px)
          margin-top: 10px
          padding: 15px 5px
      input[type=submit]
        user-select: none
        cursor: pointer
        border: 2pt solid button-border-color
        background: button-color
        -webkit-text-fill-color: button-border-color
        transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
        /*box-shadow: 0 16px 18px 0 rgba(0,0,0,0.13), 0 4px 6px 0 rgba(0,0,0,0.16)*/
        padding: 20px 0
        box-sizing: border-box
        -webkit-appearance: none
        text-align: center
        font-size: 2em
        font-family: Gotham
        font-weight: 900
        @media all and (max-width: 700px)
          white-space: pre-line
          font-size: 2em
      input[type=submit]:hover
        background: button-hover-color
        border-color: button-hover-color
        -webkit-text-fill-color: white
