button-color = #fff
button-hover-color = #2f2e31
button-border-color = #352626

.free-pass-button
  width: 100%
  padding: 1rem
  border: 0.2rem solid white
  color: white
  background: transparent
  border-radius: 0
  display: flex
  justify-content: center
  align-items: center
  margin: 0 auto
  margin-top: 50px
  margin-bottom: 50px
  transition: opacity 0.3s, transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), background 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), color 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94)
  box-shadow: 0 16px 18px 0 rgba(0,0,0,0.13), 0 4px 6px 0 rgba(0,0,0,0.16)
  cursor: pointer
  -webkit-appearance: none
.free-pass-button:hover
  cursor: pointer
  background: button-color
  color: black


.free-pass-button.white
  color: black
