@mixin reveal($t)
  -webkit-animation: reveal $t /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: reveal $t /* Firefox < 16 */
  -ms-animation: reveal $t /* Internet Explorer */
  -o-animation: reveal $t /* Opera < 12.1 */
  animation: reveal $t

@keyframes reveal
  0%
    transform: translate3d(0, -10vh,0)
    opacity: 0
  100%
    transform: translate3d(0, 0,0)
    opacity: 1
