.common-questions
  width: 100%
  background: white
  padding: 100px
  box-sizing: border-box
  @media all and (max-width: 700px)
    padding: 0
    padding-top: 80px
    padding-bottom: 40px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  p
    line-height: 1.3em;
  h2
    padding: 10px 0
    @media all and (max-width: 700px)
      padding: 10px 45px
  .common-question
    padding-bottom: 50px
    @media all and (max-width: 700px)
      padding: 10px 40px
    h4
      padding: 20px 0
