.header
  width: 100%
  background: #ffffff
  padding: 50px
  padding-top: 120px
  box-sizing: border-box
  display: flex
  justify-content: center
  flex-direction: column
  @media all and (max-width: 1500px)
    padding: 0
    padding-top: 120px
  @media all and (max-width: 1200px)
    padding-top: 100vh
  img
    width: 40%
    object-fit: contain
  .headline
    display: flex
    justify-content: center
    align-items: center
    h2
      padding-top: 70px
      padding-bottom: 40px
      width: 100%
      @media all and (max-width: 700px)
        padding-top: 50px
        width: 90%
        white-space: pre-wrap
  .header-content
    display: flex
    justify-content: space-around
    align-items: center
    width: 100%
    align-items: center
    position: relative
    @media all and (max-width: 1200px)
      justify-content: center
      flex-direction: column
    video
      object-position: 50% 50%
      width: 300px
      height: 533px
      object-fit: cover
      border-radius: 35px
      overflow: hidden
      background: white
      display: block
      pointer-events: none
      @media all and (max-width: 1200px)
        display: none
    .description
      width: 40%
      padding: 20px 0px 0px 0px
      @media all and (max-width: 1200px)
        padding: 200px
        box-sizing: border-box
        padding-top: 50px
        width: 100%
        display: flex
        justify-content: center
        flex-direction: column
        align-items: center
    .ticket
      width: 100%
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      @media all and (max-width: 1200px)
        width: 100%
      @media all and (max-width: 700px)
        width: 100%
  .ticket-text
    text-align: center
    padding: 50px 200px
    box-sizing: border-box
  p
    margin: 0
    padding: 20px
    text-align: center
    font-size: 2em
    @media all and (max-width: 1200px)
      margin-left: 0
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      font-size: 2.7em
    @media all and (max-width: 700px)
      font-size: 1.5em
