nav-bar-height = 75vh
nav-bar-color = white
nav-bar-text-color = white


.flip
  transform: rotate3d(1, 0, 0, -90deg)

.nav-bar-wrapper
  perspective: 100vw
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 11
  overflow: hidden
  background: url('../../img/background_3.jpg')
  background-position: 50% 50%
  @media all and (max-width: 1200px)
    overflow: visible
    background: white
    position: relative
    transform: translate3d(0, 0, 0)
.nav-bar-background
  height: 130px
  width: 100%
  position: absolute
  @media all and (max-width: 1200px)
    height: nav-bar-height
.nav-bar
  top: 0
  left: 0
  z-index: 1
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  transform-origin: top
  transition: transform 0.5s ease
  -webkit-font-smoothing: antialiased
  box-shadow: 0px 0.5px 5px 1px #e4e4e4
  padding: 0 24px
  box-sizing: border-box
  height: 130px
  overflow: hidden
  @media all and (max-width: 1200px)
    height: nav-bar-height
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    position: absolute
    top: 0
    box-shadow: none
  .free-pass-button
    margin: 20px 0
    padding: 0
    .free-pass
      font-size: 16pt
      font-family: 'Roboto', sans-serif;
      padding: 15px 15px
      @media all and (max-width: 1200px)
        font-size: 9pt
        padding: 18px 23px
  .nav-items
    white-space: nowrap
    display: flex
    align-items: center
    box-sizing: border-box
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    a
      font-size: 0.5em
      transition: 0.3s ease-in-out
      padding: 5px 15px
      border-radius: 10px
      border: 2px solid #f1f1f1;
      margin: 10px
      text-align: center
    a:hover
      background: white
      color: black
    @media all and (max-width: 1200px)
      white-space: pre-line
      flex-direction: column
  h1
  h2
  h3
  a
  .account-actions
    padding: 0px 15px
    color: nav-bar-text-color
    z-index: 1
    @media all and (max-width: 1200px)
      padding: 20px 15px
      width: auto
      text-align: center
  .account-actions
    a
    .logout-button
      font-weight: 900
      transition: ease 0.15s
      white-space: nowrap
    .logout-button:hover
    a:hover
      color: #ff6262
      cursor: pointer
  .logo
    width: 50px
    height: 50px
    background: grey
  .statement
    z-index: 1
    text-align: center
  .statement
    a
      padding: 0
    a:hover
      color: #fbbb81
      cursor: pointer
      transition: ease-in-out 0.15s
  .nav-bar-header
    display: flex
    flex-direction: row
    padding: 0
    align-items: center
    justify-content: flex-start
    z-index: 1
    @media all and (max-width: 1200px)
        padding-top: 20px
        justify-content: center
    .icon-container
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-direction: row-reverse;
      .icon
        max-width: 100px
        min-width: 75px
        @media all and (max-width: 700px)
          width: 20%
          max-width: 20%
          min-width: 20%
    .first-name
      color:white
      font-size: 1.4em
    .first-name:hover
      color: #fbbb81
    .title
      max-width: 400px
      min-width: 300px
      @media all and (max-width: 700px)
        width: 80%
        max-width: 80%
        min-width: 80%
  ul
    width: 100%
    display: flex
    justify-content: flex-end
    align-items: center
    height: 100px

    .nav-link:hover > .nav-item-above
        transform: rotate3d(1 0 0 0)

    .nav-link > .nav-item-above
      @include transition(all 0.25s ease-in-out)
      transform: rotate3d(1 0 0 -90deg)
      transform-origin: center top 8px
      height: 0vh

    .nav-link:hover > .nav-item
        transform: rotate3d(1 0 0 90deg)

    .nav-link > .nav-item
      @include transition(all  0.25s ease-in-out)
      transform: rotate3d(1 0 0 0)
      transform-origin: center bottom 8px

    .nav-link
      text-decoration: none
      color: nav-bar-text-color
      font-weight: 100
      z-index: 9

    li
      list-style-type: none
      padding: 0px 10px

    .selected-page
      color: nav-bar-text-color
